.menuitem {
    min-width: 30%;
    flex: 1 1 auto;
    padding: 15px;
    .menuitem_inner{
        min-height:200px;
        border:1px solid #d1d1d1;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:center;
        .items{
            background:#fff;
            padding:20px;
            h2{
                margin-top:0px;
                margin-bottom:10px;

            }
        }    
        &.large{
            min-height:300px;
        }
    }
}
